<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Home page rendered from EJS.</h1>

    <!-- User's Feed -->
    <section id="feed-post">
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" cols="30" rows="10" placeholder="Your Content goes here..." required></textarea>
            <button type="submit">Post</button>
        </form>
    </section>
    <div id="posts-list-container">
        <ul>
            <%for(post of posts){%>
                <li>
                    <%=post.content%>
                </li>
            <%}%>
        </ul>
    </div>
</body>
</html>